[Unit]
Description=RAID Management WebUI
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/home/bizon/raid_managment_software_2025
Environment=PYTHONUNBUFFERED=1
ExecStart=/home/bizon/raid_managment_software_2025/.venv/bin/python /home/bizon/raid_managment_software_2025/app.py
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
